.energy{
    height: 420px;
    width: 335px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(89, 176, 182);

    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 48px;
    padding: 2px;

}